.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100vh; 
  width: 100vw;
}

.container-button {
  background-color: white;
  position:absolute; 
  z-index:401;
  width: 70px;
  border-radius: 20px;
  border: solid black 2px;
  margin: 1%;
  margin-top: 0.5%;
}

.container {
  border-radius: 30px;
  margin: 1%;
  margin-top: 3.5%;
  width: 10%;
  background-color: rgba(255,255,255,.9);
  border: solid black 2px;
  height: 725px;
  width: 300px;
  position:absolute;
  z-index:401;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.container.opened {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.container h2 {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 20px;
  border-bottom: solid black 2px;
}

.amplifier-value {
  margin-top: 2%;
  margin-left: 4%;
  padding-right: 20px;
  margin-bottom: 4%;
  text-align: center;
}

.show-route {
  font-size: 15px;
  text-align: left;
}

.option-items {
  padding-bottom: 10px;
  padding-left: 10px;
}

.goto-div {
  background-color: white;
  position:absolute; 
  z-index:401;
  max-width: 200px;
  right:20px;
}


.header-col {
  max-width: 100px;
  padding-bottom: 10px;
  padding-right: 15px;
}

.header-row {
  max-width: 200px;
  width: 100px;
  padding-bottom: 7px;
  padding-right: 27px;
  padding-top: 5px;
}

.row-text {
  padding-bottom: 5px;
  padding-left:9px;
}

.table {
  width: 300px;
}

.features {
  margin-top: 3%;
}

.feature-label {
  font-size: 16px;
  margin-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.goto {
  position:absolute; 
  z-index:500;
  right:20px;
}

.modal {
  position:absolute; 
  z-index:700;
  background-color: red;
  margin-top: 10%;
  left: 20px;
}

.route-label {
  margin-right: 10%;
  margin-bottom: 3%;
  text-align: left;
}

input[type=checkbox] {
   margin: 2px;
   display:inline-block;
   min-width: 15px;
   min-height: 15px;
   width: 2vw;
   height: 2vh;
   vertical-align: middle;
   position: relative;
   bottom: 1px;
   left: 1px;
}

label {
  display:block;
  font-size:max(0.9vw, 12px);
}
