.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100vh; 
  width: 100vw;
}

.container-button {
  background-color: white;
  position:absolute; 
  z-index:401;
  width: 70px;
  border-radius: 20px;
  margin: 1%;
  margin-top: 0.5%;
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #999;
}

.container-button:hover {
  background-color: rgb(228, 228, 228);
}

.container {
  margin: 1%;
  margin-top: 3.5%;
  width: 10%;
  position:absolute;
  z-index:401;
  opacity: 1;
  visibility: hidden;
}

.options {
  height: 12vw;
  border-radius: 22px;
  background-color: rgba(255,255,255,.9);
  width: 15.5vw;
  padding-bottom: 100px;
  transform: translateX(-120%);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #999;
}

.options.opened {
  transform: translateX(0);
  visibility: visible;
}

.data {
  margin-top: 20px;
  height: 13.5vw;
  border-radius: 30px;
  background-color: rgba(255,255,255,.9);
  width: 15.5vw;
  transform: translateX(-120%);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #999;
}

.data.opened {
  transform: translateX(0);
  visibility: visible;
}

.features {
  margin-top: 20px;
  height: 14.5vw;
  border-radius: 30px;
  background-color: rgba(255,255,255,.9);
  width: 15.5vw;
  position:absolute;
  z-index:401;
  opacity: 1;
  transform: translateX(-120%);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #999;
}

.features.opened {
  transform: translateX(0);
  visibility: visible;
}

.container h2 {
  font-weight: bolder;
  font-size: 20vh;
}

.container.opened {
  opacity: 1;
  visibility: visible;
}

.container h2 {
  padding-top: 10px;
  padding-left: 40px;
  text-align:left;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 20px;
}

.options-icon {
  position: absolute;
  margin-top: 4.7%;
  float:left;
  margin-left:2.8%;
  height: 24px;
  width: auto;
}

.data-icon {
  position: absolute;
  margin-top: 4.7%;
  float:left;
  margin-left:3.2%;
  height: 22px;
  width: auto;
}

.features-icon {
  position: absolute;
  margin-top: 5.7%;
  float:left;
  margin-left:4.5%;
  height: 24px;
  width: auto;
}

.city-dropdown {
  position:absolute; 
  z-index:500;
  right: 0px;
  margin: 1%;
  margin-top: 0.5%;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #999;
}

.city-dropdown:focus {
  outline: none;
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #999;
}

.amplifier-value {
  margin-top: 2%;
  margin-left: 4%;
  padding-right: 20px;
  margin-bottom: 4.5%;
  text-align: center;
  padding-top:5%;
}

.show-route {
  font-size: 15px;
  text-align: left;
}

.option-items {
  padding-bottom: 10px;
  padding-left: 10px;
}

.goto-div {
  background-color: white;
  position:absolute; 
  z-index:401;
  max-width: 200px;
  right:20px;
}


.header-col {
  max-width: 100px;
  padding-bottom: 10px;
  padding-right: 15px;
}

.header-row {
  max-width: 200px;
  width: 100px;
  padding-bottom: 7px;
  padding-right: 27px;
  padding-top: 5px;
}

.row-text {
  padding-bottom: 5px;
  padding-left:9px;
}

.table {
  width: 300px;
}

.features-list {
  margin-top: 3%;
}

.feature-label {
  font-size: 16px;
  margin-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.goto {
  position:absolute; 
  z-index:500;
  right:20px;
}

.modal {
  position:absolute; 
  z-index:700;
  background-color: red;
  margin-top: 10%;
  left: 20px;
}

.route-label {
  margin-right: 10%;
  margin-bottom: 3%;
  text-align: left;
  font-size: medium;
  padding-left:10px;
}

input[type=checkbox] {
   margin: 2px;
   display:inline-block;
   min-width: 15px;
   min-height: 15px;
   width: 2vw;
   height: 2vh;
   vertical-align: middle;
   position: relative;
   bottom: 1px;
   left: 1px;
}

label {
  display:block;
  font-size:max(0.9vw, 12px);
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.marker-popup h3 {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding-bottom: 5px;
}

.marker-popup h4 {
  text-align: center;
  padding-bottom: 10px;
}